*.DS_Store
*.swp
.idea
/cdk_release_binary
/vendor
/venv
*.pyc
*.pyo

/bin
cmd/cdk/cdk
*_darwin_386*
*_darwin_amd64*
*_linux_386*
*_linux_amd64*
*_linux_arm*
*_freebsd_386*
*_freebsd_amd64*
*_openbsd_386*
*_openbsd_amd64*
*_windows_386*
*_windows_amd64*
*_freebsd_arm*
*_netbsd_386*
*_netbsd_amd64*
*_netbsd_arm*
*_plan9_386*

/*.json
/cmd/cdk/*.json

.vscode/
.chglog/
__debug_bin
